* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #26292e;
}

a {
    text-decoration: none;
}

header h1, header h2  {
    text-align: center;
    color: #de5e60;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 5px;
    width: 25%;
    text-align: center;
}

nav ul li:hover {
    background-color: #de5e60;
}

nav ul li:nth-of-type(odd) {
    float: left;
    border-right: 1px dashed #de5e60;
}

nav ul li:nth-of-type(even) {
    float: right;
    border-left: 1px dashed #de5e60;
}

nav ul li a {
    display: inline-block;
    color: #de5e60;
}

nav ul li a:first-child {
    color: #fff;
    float: left;
}

nav ul li a:last-child {
    color: #808080;
    float: right;
}

nav ul li:hover a:last-child {
    color: #fff;
}

article {
    clear: both;
    max-width: 992px;
    margin: 0 auto;
}

article a {
    color: #fff;
}

article a:hover {
    border-bottom: 1px dashed #de5e60;
}

article header h2 {
    padding-top: 20px;
    color: #de5e60;
}

article header p {
    margin: 0 auto;
    text-align: center;
    color: #808080;
}

article section {
    color: #808080;
    width: 50%;
}

article section:nth-of-type(1) {
    float: left;
    padding-right: 20px;
}

article section:nth-of-type(2) {
    float: right;
    padding-left: 20px;
}

article section h2 {
    color: #de5e60;;
}

footer {
    clear: both;
    text-align: center;
    border-top: 1px dashed #de5e60;
}

footer p, footer a {
    color: #fff;
}

@media all and (max-width: 1200px) {
    nav ul li {
        width: 35%;
    }
}

@media all and (max-width: 992px) {
    nav ul li {
        width: 50%;
    }
}

@media all and (max-width: 768px) {
    nav ul li {
        width: 100%;
    }

    nav ul li:nth-of-type(odd) {
        border-right: none;
    }
    
    nav ul li:nth-of-type(even) {
        border-left: none;
    }

    article section {
        width: 100%;
    }

    article section:nth-of-type(1), article section:nth-of-type(2) {
        float: none;
        padding: 0;
    }
}