* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.back-big {
    width: 1332px;
    height: 978px;
    position: relative;
    margin: 0 auto;
    background: url("images/back-big.png") no-repeat;
}

.circle-red, .circle-blue {
    width: 130px;
    height: 130px;
    position: absolute;
    bottom: 16px;
}

.circle-red {
    background: url("images/circle-red.png") no-repeat;
    left: 42px;
}

.circle-blue {
    background: url("images/circle-blue.png") no-repeat;
    right: 42px;
}

.bottom-left, .bottom-right {
    width: 82px;
    height: 77px;
    position: absolute;
    bottom: 0px;
}

.bottom-left {
    background: url("images/bottom-left.jpg") no-repeat;
    left: 184px;
}

.bottom-right {
    background: url("images/bottom-right.jpg") no-repeat;
    right: 184px;
}

.footer-center {
    width: 43px;
    height: 43px;
    background-image: url("images/footer-center.png") no-repeat;
    position: absolute;
    bottom: 32px;
    left: 645px;
}

.btn-add-left, .btn-add-right {
    width: 30px;
    height: 31px;
    background: url("images/btn-add.png") no-repeat;
    position: absolute;
    bottom: 20px;
}

.btn-add-left {
    left: 300px;
}

.btn-add-right {
    right: 300px;
}

.bg-item {
    width: 534px;
    height: 100%;
    background: url("images/bg_item.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 93px;
    left: 130px;
}

.bg-item-right {
    width: 534px;
    height: 100%;
    background: url("images/bg_item-right.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 93px;
    right: 129px;
}

.gear-btn-left, .gear-btn-right {
    width: 55px;
    height: 55px;
    background: url("images/gear-btn.png") no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 199px;
}

.gear-btn-left {
    left: 581px;
}

.gear-btn-right {
    right: 581px;
}

.helmet {
    width: 78px;
    height: 100%;
    background: url("images/helmet.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 93px;
    right: 340px;
}

.gloves {
    width: 78px;
    height: 100%;
    background: url("images/gloves.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 332px;
    right: 562px;
}

.sword {
    width: 78px;
    height: 100%;
    background: url("images/sword.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 126px;
    right: 562px;
}

.shoes {
    width: 78px;
    height: 100%;
    background: url("images/shoes.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 326px;
    right: 147px;
}

.decoration {
    width: 79px;
    height: 100%;
    background: url("images/decoration.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 370px;
    right: 341px;
}

.crown-left, .crown-right {
    width: 40px;
    height: 100%;
    background: url("images/crown.jpg") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 369px
}

.crown-left {
    right: 431px;
}

.crown-right {
    right: 290px;
}

.medal {
    width: 38px;
    height: 100%;
    background: url("images/medal.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 130px;
    right: 280px;
}

.armor {
    width: 78px;
    height: 100%;
    background: url("images/armor.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 195px;
    right: 340px;
}