* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyWebFont';
    src:  url('myfont.woff2') format('woff2'),
          url('myfont.woff') format('woff');
}

body {
    font-family: Arial;
    margin: 0 0 0 100px;
}

/* breadcrumbs */

.breadcrumb-wrapper {
    display: inline-block;
    background-color: #c4f5f9;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.breadcrumb-wrapper li {
    display: inline-block;
    background-color: #00bddb;
}

.breadcrumb-wrapper li:first-child {
    border-radius: 4px 0 0 4px;
}

.breadcrumb-wrapper li:last-child {
    border-radius: 0 4px 4px 0;
}

.breadcrumb-wrapper a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 16px 30px;
}

.breadcrumb-wrapper li:not(:first-child) a {
    padding-left: 54px;
}

.breadcrumb-wrapper li:not(:last-child) a::after {
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    right: -24px;
    width: 35px;
    height: 35px;
    border-right: 5px solid #c4f5f9;
    border-bottom: 5px solid #c4f5f9;
    background-color: #00bddb;
    transform: rotate(-45deg);
    border-radius: 4px;
    z-index: 1;
}

.breadcrumb-wrapper li a:hover {
    background-color: #1d3e8b;
}

.breadcrumb-wrapper li a:hover::after {
    background-color: #1d3e8b;
}


/* switch checkbox */

.switch-wrapper {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch-wrapper input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-wrapper span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.switch-wrapper span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: 0.4s;
}

.switch-wrapper input:checked + span {
    background-color: #53d76a;
}

.switch-wrapper input:focus + span {
    box-shadow: 0 0 1px #53d76a;
}

.switch-wrapper input:checked + span:before {
    transform: translateX(26px);
}

.switch-round {
    border-radius: 34px;
}

.switch-round:before {
    border-radius: 50%;
}


/* radio button */

.radio-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 0 12px 0;
    cursor: pointer;
    font-size: 22px;
}

.radio-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-wrapper span {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #53d76a;
}

.radio-wrapper input:checked ~ span {
    border: 2px solid #53d76a;
}

.radio-wrapper span:after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d5d5d5;
}

.radio-wrapper input:checked ~ span:after {
    display: block;
    background-color: #53d76a;
}
