@import 'normalize';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width: 960px) {
        flex-direction: column;
    }
}

.flex-col-1 {flex: 0 0 8.33%;}
.flex-col-2 {flex: 0 0 16.66%;}
.flex-col-3 {flex: 0 0 25%;}
.flex-col-4 {flex: 0 0 33.33%;}
.flex-col-5 {flex: 0 0 41.66%;}
.flex-col-6 {flex: 0 0 50%;}
.flex-col-7 {flex: 0 0 58.33%;}
.flex-col-8 {flex: 0 0 66.66%;}
.flex-col-9 {flex: 0 0 75%;}
.flex-col-10 {flex: 0 0 83.33%;}
.flex-col-11 {flex: 0 0 91.66%;}
.flex-col-12 {flex: 0 0 100%;}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    min-height: 71px;
}

.logo {
    float: left;
    color: #222222;

    h1 {
        margin: 0;
    }
}

.logo-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #222222;

    span {
        font-weight: 700; 
    }
}

.toggle-nav {
    display: none;
    border-bottom: 13px double #000000;
    border-top: 4px solid #000000;
    height: 22px;
    width: 30px;
    margin: 18px 10px;

    &:hover {
        border-bottom: 13px double #1e90ff;
        border-top: 4px solid #1e90ff;
    }
}

.toggle-nav:hover {
    cursor: pointer;
}

.main-nav {
    float: right;
}

.main-nav.active {
    display: block;
}

.nav-item-wrapper {
    float: left;
}

.nav-item-link {
    display: block;
    color: #222222;
    padding: 28px 26px;
    text-transform: uppercase;

    &:hover {
        color: #1e90ff;
    }
}

.dropdown, .dropdown-2 {
    position: relative;
    display: block;

    i {
        position: absolute;
        font-size: 10px;
        color: #222222;
        margin: 2px 0 0 12px;
    }

    &:hover i {
        color: #1e90ff;
    }
}

.dropdown-content, .dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-2 {
    left: 100%;
    top: 0;
}

.dropdown-link {
    display: block;
    position: relative;
    padding: 8px 10px;
    color: #222222;
    font-size: 14px;

    &:hover {
        color: #1e90ff;
    }
}

.nav-item-wrapper:hover .dropdown-content {
    display: block;
}

.dropdown-2:hover + .dropdown-content-2, .dropdown-content-2:hover {
    display: block;
}

.intro {
    min-height: 450px;
    background-image: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url("../images/city.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.intro-title-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-transform: uppercase;
}

.intro-title {
    font-size: 46px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 30px 0 0 0;

    span {
        font-weight: 700;
    }
}

.slogan {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.about-us {
    text-align: center;
    padding: 25px 0;

    h3 {
        font-size: 20px;
        text-transform: uppercase;
    }

    p {
        line-height: 24px;
        font-size: 14px;
        text-align: justify;
        padding: 0 20px;
    }
}

.team {
    max-width: 960px;
    min-height: 340px;
    position: relative;
    overflow: hidden;
}

.profile-slider {
    overflow: hidden;
    min-height: 340px;
    margin: 0px auto;
    padding-top: 15px;
}

.profile-button {
    position: absolute;
    width: 60px;
    height: 282px;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 30;
    opacity: 0.6;
    transition: 0.2s ease;

    i {
        font-size: 36px;
    }
}

.profile-button-left {
    left: -70px;
    border-radius: 0 20px 20px 0;
}

.profile-button-right {
    right: -70px;
    border-radius: 20px 0 0 20px;
}

.profile-slider:hover .profile-button-left {
    left: 0;
}

.profile-slider:hover .profile-button-right {
    right: 0;
}

.profile-button-left:hover, .profile-button-right:hover {
    color: #ffffff;
}

.profile-list {
    width: 1700px;
}

.profile-item {
    width: 250px;
    height: 252px;
    background-color: #ffffff;
    position: relative;
    float: left;
    padding-top: 26px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 10px 10px 22px #ababab;
    transition: 0.6s ease;

    &:hover {
        background-color: #1e90ff;
        z-index: 20;

        .profile-name, .profile-position, .profile-phone, .profile-location {
            color: #ffffff;
        }
    }

    &:nth-child(even) {
        margin: 30px -20px 0px -20px;
        z-index: 10;
    }

    p {
        margin: 0;
    }
}

.profile-photo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #1e90ff;
    padding: 14px 0 10px 0;
}

.profile-position {
    font-size: 14px;
}

.profile-phone {
    display: inline-block;
    margin: 15px 0 5px;
    color: #000000;
}

.map-box {
    min-height: 450px;
    background-color: #f8f8f8;
    margin: 20px 0 80px;
}

.company-contacts {
    padding: 10px 15px 0 30px;
}

.company-contacts-city {
    font-size: 16px;
    font-weight: bold;
}

.company-address-wrapper {
    font-size: 14px;
    color: #8e8c8c;

    li {
        position: relative;
        margin-bottom: 12px;
        line-height: 20px;

        i {
            font-size: 14px;
            vertical-align: middle;
            padding-right: 4px;
        }
    }

    a {
        color: #8e8c8c;

        &:hover {
            color: #1e90ff;
        }
    }
}

.social-links a {
    font-size: 16px;
    float: left;
    margin-right: 20px;
    color: #8e8c8c;

    &:hover {
        color: #1e90ff;
    }
}

.services {
    padding: 10px;
    text-align: center;
}

.service-wrapper {
    min-height: 252px;
    padding: 30px 10px;
    margin: 5px;

    i {
        font-size: 50px;
        color: #606060;
    }

    h3 {
        max-width: 200px;
        font-size: 18px;
        margin: 15px auto;
        color: #606060;
    }

    p {
        font-size: 14px;
        color: #000000;
        margin: 0;
    }

    &:hover {
        i, h3 {
            color: #1e90ff;
        }
    }
}

.contact-form {
    background-color: #f2f2f2;
    padding: 20px 0;
}

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 5px;

    h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    input[type=text], input[type=email], textarea {
        width: 100%;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 6px 0 16px 0;
    }

    textarea {
        height: 120px;
        resize: vertical;
    }

    input[type=submit] {
        margin-top: 10px;
        height: 40px;
        width: 150px;
        background-color:#ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        letter-spacing: 4px;
        color:#454647;
        border: 2px solid #cccccc;
        text-transform: uppercase;
    }
      
    input[type=submit]:hover {
        color:#ffffff;
        background-color: #1e90ff;
        border: 2px solid #1e90ff;
        cursor: pointer;
    }
}


.footer {
    background-color: #333333;
}

.copyright {
    min-height: 46px;
    color: #999999;
}

.copyright-text {
    float: left;
    line-height: 45px;

    span:nth-of-type(2) {
        font-size: 12px;
    }
}

.site-dev {
    float: right;
    line-height: 45px;

    a {
        color: #999999;
    }

    span:nth-of-type(1) {
        padding-right: 30px;
    }
}

@media all and (max-width: 960px) {
    .container {
        max-width: 100%;
    }

    .toggle-nav {
        display: block;
        float: right;
    }

    .main-nav {
        display: none;
        float: none;
        text-align: center;
        padding-top: 71px;
    }

    .nav-item-wrapper {
        float: none;
    }

    .nav-item-link {
        padding: 10px 0;
    }

    .dropdown-content, .dropdown-content-2 {
        position: relative;
        width: 100%;
    }

    .dropdown-content-2 {
        left: 0;
    }

    .intro-title {
        font-size: 36px;
    }

    .slogan {
        font-size: 24px;
    }

    .profile-list {
        width: auto;
    }

    .profile-item {
        float: none;
        margin: 10px auto;
        box-shadow: 0px 0px 5px #ababab inset;

        &:nth-child(2n) {
            margin: 10px auto;
        }
    }

    .profile-button {
        display: none;
    }

    .copyright-text, .site-dev {
        float: none;
    }
}